@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*h3*/
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px; }

h3 {
  font-family: 'Lato', sans-serif;
  font: size 22px;
  text-align: center; }

p {
  font-family: 'Lato light', sans-serif;
  font: size 18px; }

.contenedor-paginas {
  width: 100%;
  display: grid; }
  .contenedor-paginas header {
    grid-column-start: 1;
    grid-column-end: -1; }

header {
  min-height: 100px;
  width: auto;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 0 1%;
  box-sizing: border-box;
  min-height: 80px;
  transition: 0.5s;
  box-shadow: 0px 0px 8px 0px black; }
  header h2 {
    justify-content: center; }
  header .header__logo {
    height: 60%;
    display: flex;
    align-items: center; }
  header .header__logo img {
    width: 50px;
    height: 50px;
    border-radius: 1000px; }
  header .header__menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  header .header__menu ul li {
    margin: 0 1rem;
    font-weight: 200;
    cursor: pointer;
    transition: 0.5s;
    padding: 0PX 15px; }
    header .header__menu ul li:hover {
      color: black;
      background-color: lightblue;
      border: 1px solid lightblue;
      transition: 0.5s;
      border-radius: 1000px; }
  header ul {
    list-style-type: none; }
  header a {
    text-decoration: none;
    color: black; }

@media (max-width: 576px) {
  header {
    flex-direction: column; }
  .header__menu {
    width: 200px; }
    .header__menu ul {
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px; }
      .header__menu ul li {
        font-weight: 50;
        border-right-style: groove;
        text-align: left; }
        .header__menu ul li:nth-child(5) {
          border-right-style: none; } }

.header-clases {
  position: absolute; }

.contenedor-paginas {
  width: 100%;
  display: grid; }
  .contenedor-paginas footer {
    grid-column-start: 1;
    grid-column-end: -1; }

footer {
  min-height: 80px;
  width: 100%;
  background-color: #86d4d4;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 8px 0px black; }
  footer .footer-logos {
    height: auto;
    width: 50px;
    padding: 0px 10px; }

main * {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

main .section {
  padding: 1000px; }

.main__fondo {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(32,768,373)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='407' height='339.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

.contenedor-paginas {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto); }
  .contenedor-paginas #cuerpoInicio {
    grid-column: 1; }
    .contenedor-paginas #cuerpoInicio .titulo-pagina {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px; }
    .contenedor-paginas #cuerpoInicio .contenedor-todo {
      width: 240px;
      margin: auto;
      perspective: 1000px;
      position: relative;
      padding-bottom: 250px;
      padding-top: 50px; }
      .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel {
        width: 100%;
        position: absolute;
        animation: rotar 30s infinite;
        transform-style: preserve-3d; }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure {
          width: 100%;
          height: 200px;
          overflow: hidden;
          position: absolute;
          margin-bottom: 250px; }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel img {
          width: 100%; }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(1) {
          transform: rotateY(0deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(2) {
          transform: rotateY(45deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(3) {
          transform: rotateY(90deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(4) {
          transform: rotateY(135deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(5) {
          transform: rotateY(180deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(6) {
          transform: rotateY(225deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(7) {
          transform: rotateY(270deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(8) {
          transform: rotateY(315deg) translateZ(300px); }
        .contenedor-paginas #cuerpoInicio .contenedor-todo .contenedor-carrousel figure:nth-child(9) {
          transform: rotateY(360deg) translateZ(300px); }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
    .contenedor-paginas #cuerpoInicio .descripcion {
      margin: 10px;
      padding-bottom: 60px; }

.contenedor-paginas {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr); }

#tarjetaPresentacionProfesoras {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50px 550px; }
  #tarjetaPresentacionProfesoras .titulo-pagina {
    grid-column: span 3;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras {
    position: sticky;
    width: 300px;
    height: 350px;
    padding-left: 70px;
    padding-bottom: 50px;
    padding-top: 30px; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .lado {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .frente {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .frente img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .frente .texto-frente {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .atras {
    transform: perspective(600px) rotateY(180deg);
    background-color: #032336;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .atras .link {
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .atras .link a {
    color: white; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .atras .texto-atras {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras .atras p {
    letter-spacing: 1px; }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras:hover .frente {
    transform: perspective(600px) rotateY(180deg); }
  #tarjetaPresentacionProfesoras .tarjetas-profesoras:hover .atras {
    transform: perspective(600px) rotateY(360deg); }

@media (max-width: 576px) {
  .tarjetas-profesoras {
    margin: 10px; }
  .tarjetas-profesoras .lado {
    width: 70%;
    height: 70%;
    left: 50px;
    top: 100px; }
  #tarjetaPresentacionProfesoras {
    justify-content: space-evenly; }
  .tarjetas-profesoras .atras {
    padding: 10px; }
  .tarjetas-profesoras .atras .texto-atras {
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 1px; }
  body {
    width: 57vh;
    height: 57vh; } }

.contenedor-paginas {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr); }

#cuerpoClases {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 225px 225px; }
  #cuerpoClases .titulo-pagina {
    grid-column: span 2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px; }

.tarjeta-tipo-de-clases {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%; }
  .tarjeta-tipo-de-clases .tarjeta-clases {
    display: grid;
    padding-left: 50px;
    position: relative;
    width: 510px;
    height: 350px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 25% 10%;
    box-shadow: 0 0 15px black; }
    .tarjeta-tipo-de-clases .tarjeta-clases:hover {
      background-color: #a19d9d; }
    .tarjeta-tipo-de-clases .tarjeta-clases button {
      position: absolute;
      right: 30px;
      bottom: 40px;
      width: 50px;
      height: 50px;
      background-color: #ade8f4;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      opacity: 1;
      transition: .3s ease; }
      .tarjeta-tipo-de-clases .tarjeta-clases button:hover {
        transform: scale(20);
        opacity: .5; }
    .tarjeta-tipo-de-clases .tarjeta-clases .boton-2 {
      background-color: lightgreen; }
    .tarjeta-tipo-de-clases .tarjeta-clases .boton-3 {
      background-color: #f4f45c; }
    .tarjeta-tipo-de-clases .tarjeta-clases .boton-4 {
      background-color: lightgrey; }
    .tarjeta-tipo-de-clases .tarjeta-clases .tarjeta-clases__titulo {
      z-index: 99;
      position: absolute;
      bottom: 750px;
      font-size: 50px;
      font-weight: 700;
      color: white;
      pointer-events: none;
      transition: .1s ease;
      text-shadow: 0 0 15px black;
      writing-mode: vertical-lr;
      margin-bottom: 5px; }
    .tarjeta-tipo-de-clases .tarjeta-clases:hover .tarjeta-clases__titulo {
      bottom: 70px;
      right: 50px; }
    .tarjeta-tipo-de-clases .tarjeta-clases .tarjeta-clases__descripcion {
      z-index: 99;
      position: absolute;
      bottom: 15px;
      right: auto;
      width: 400px;
      color: black;
      opacity: 0;
      font-size: 16px;
      text-align: center;
      transition: .2s ease;
      padding-bottom: 40px; }
    .tarjeta-tipo-de-clases .tarjeta-clases:hover .tarjeta-clases__descripcion {
      opacity: 1;
      right: auto;
      z-index: 99;
      padding-left: 10px;
      font-weight: 400; }
    .tarjeta-tipo-de-clases .tarjeta-clases .tarjeta-clases__imagen {
      z-index: 100;
      width: 400px;
      height: 300px;
      background-size: cover;
      border-radius: 25% 10%;
      filter: grayscale(0);
      transition: .3s ease; }
    .tarjeta-tipo-de-clases .tarjeta-clases:hover .tarjeta-clases__imagen {
      filter: grayscale(100%);
      width: 500px;
      height: 320px; }
    .tarjeta-tipo-de-clases .tarjeta-clases #descripcionDistinta {
      color: white; }

#tituloClases {
  padding-top: 50px; }

.dias-horarios {
  text-align: center; }

.horarios .container {
  display: flex;
  position: static;
  align-content: center;
  width: 100%;
  justify-content: center; }
  .horarios .container .col1 {
    border: 3px solid light;
    background-color: lightpink;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
  .horarios .container .col2 {
    border: 1px double pink;
    background-color: #e9aeb7;
    border-radius: 10px;
    width: 100px;
    height: 80px;
    margin: 10px;
    position: static;
    text-align: center; }
    .horarios .container .col2 h4 {
      font-size: medium; }
    .horarios .container .col2 p {
      font-size: 16px;
      padding: 0;
      margin: 0; }

.precios {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px; }

.contenedor-formulario {
  min-height: 550px;
  padding-bottom: 10px; }
  .contenedor-formulario .formulario {
    background: rgba(50, 177, 194, 0.6);
    width: 90%;
    max-width: 550px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-radius: 20px; }
    .contenedor-formulario .formulario .formulario-label {
      display: block;
      color: white;
      position: relative; }
    .contenedor-formulario .formulario .formulario-input, .contenedor-formulario .formulario #formularioTextarea {
      background: #1a5f76;
      border: none;
      outline: none;
      border-bottom: 3px solid lightblue;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 2px;
      color: whitesmoke;
      transition: all 1.5s ease; }
      .contenedor-formulario .formulario .formulario-input:hover, .contenedor-formulario .formulario #formularioTextarea:hover {
        border-bottom: 3px solid gold;
        transition: all 1.5s ease; }
    .contenedor-formulario .formulario #formularioTextarea {
      resize: vertical;
      max-height: 150px;
      min-height: 50px; }
    .contenedor-formulario .formulario .formulario-boton {
      width: 100%;
      outline: none;
      background: #1a5f76;
      border: none;
      color: whitesmoke;
      padding: 15PX 0PX;
      cursor: pointer;
      transition: all 1.5s; }
      .contenedor-formulario .formulario .formulario-boton:hover {
        transition: all 1.5s;
        color: black;
        background-color: gold; }

@media (max-width: 576px) {
  .contenedor-formulario {
    flex-direction: column;
    padding-bottom: 10px; }
  .contenedor-formulario .formulario {
    width: 70%; } }
