// General
@import "./general/tipografia.scss";
@import "./general/colores.scss";

//Layout
@import "./scss/Layout/header.scss";
@import "./Layout/footer.scss";
@import "./Layout/main.scss";

//Paginas
@import "./paginas/index.scss";
@import "./paginas/profesoras.scss";
@import "./paginas/clases.scss";
@import "./paginas/horarios.scss";
@import "./paginas/contacto.scss";

