@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*h3*/

h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

h3{
    font-family: 'Lato', sans-serif;
    font: size 22px;
    text-align: center;
}

p{
    font-family: 'Lato light', sans-serif;
    font: size 18px;
}