h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

h3{
    font-family: 'Lato', sans-serif;
    font: size 22px;
    text-align: center;
}

p{
    font-family: 'Lato', sans-serif;
    font: size 18px;
}