
.tarjeta-tipo-de-clases{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    .tarjeta-clases{
        position: relative;
        width: 600px;
        height: 350px;
        padding: 10px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 0 15px black;
        button{
            position: absolute;
            right: 30px;
            bottom: 40px;
            width: 30px;
            height: 30px;
            background-color: #ade8f4;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            opacity: 1;
            transition: .3s ease;
            &:hover{
                transform: scale(25);
                opacity: .5;
            }
        }
        .tarjeta-clases__titulo{
            z-index: 99;
            position: absolute;
            bottom: 15px;
            right: 130px;
            font-size: 50px;
            font-weight: 700;
            color: white;
            pointer-events: none;
            transition: .2s ease;
            text-shadow: 0 0 15px black;
            writing-mode: vertical-lr;
            margin-bottom: 5px;
        }
        &:hover .tarjeta-clases__titulo{
            bottom: 70px;
            right: 50px;
        }
        .tarjeta-clases__descripcion{
            z-index: 99;
            position: absolute;
            bottom: 15px;
            right: auto;
            width: 400px;
            color: black;
            opacity: 0;
            font-size: 16s;
            text-align: left;
            transition: .2s ease;
        }
        &:hover .tarjeta-clases__descripcion{
            opacity: 1;
            right: auto;
            z-index: 99;
            padding-left: 10px;
            font-weight: 700;
        }
        .tarjeta-clases__imagen{
            z-index: 100;
            width: 400px;
            height: 300px;
            background-size: cover;
            border-radius: 12px;
            filter: grayscale(0);
            transition: .3s ease;
        }
        &:hover .tarjeta-clases__imagen{
            filter: grayscale(100%);
            width: 500px;
            height: 320px;
        }
    }   
}

