
.contenedor-paginas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 1fr);
}

#cuerpoClases{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:10% 45% 45%;
    .titulo-pagina{
        grid-column: span 2;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
.tarjeta-tipo-de-clases{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    .tarjeta-clases-1{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        padding-bottom: 20px;
        position: relative;
        width: 510px;
        height: 350px;

        background-color: white;
        overflow: hidden;
        margin-bottom: 60px;
        margin-left: 70px;
        border-radius: 25% 10%;
        box-shadow: 0 0 15px black;
        &:hover{
            background-color: rgb(161, 157, 157);
        }
        button{
            position: absolute;
            right: 30px;
            bottom: 40px;
            width: 50px;
            height: 50px;
            background-color: #ade8f4;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            opacity: 1;
            transition: .3s ease;
            &:hover{
                transform: scale(20);
                opacity: .5;
            }
        }
        .tarjeta-clases__titulo{
            z-index: 99;
            position: absolute;
            bottom: 750px;
            font-size: 50px;
            font-weight: 700;
            color: white;
            pointer-events: none;
            transition: .1s ease;
            text-shadow: 0 0 15px black;
            writing-mode: vertical-lr;
            margin-bottom: 5px;
            }
            &:hover .tarjeta-clases__titulo{
            bottom: 70px;
            right: 50px;
            }
            .tarjeta-clases__descripcion{
            z-index: 99;
            position: absolute;
            bottom: 15px;
            right: auto;
            width: 400px;
            color: black;
            opacity: 0;
            font-size: 16px;
            text-align: center;
            transition: .2s ease;
            padding-bottom: 40px;
            }
            &:hover .tarjeta-clases__descripcion{
            opacity: 1;
            right: auto;
            z-index: 99;
            padding-left: 10px;
            font-weight: 400;
            }
            .tarjeta-clases__imagen{
            z-index: 100;
            width: 400px;
            height: 300px;
            background-size: cover;
            border-radius: 25% 10%;
            filter: grayscale(0);
            transition: .3s ease;
            }
            &:hover .tarjeta-clases__imagen{
            filter: grayscale(100%);
            width: 500px;
            height: 320px;
            }
    }
    .tarjeta-clases-2{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        position: relative;
        width: 510px;
        height: 350px;
        padding: 10px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 10px;
        margin-left: 500px;
        border-radius: 25% 10%;
        box-shadow: 0 0 15px black;
        &:hover{
            background-color: rgb(161, 157, 157);
        }
        .boton-2{
            background-color: lightgreen;
            }
        button{
            position: absolute;
            right: 30px;
            bottom: 40px;
            width: 50px;
            height: 50px;
            background-color: #ade8f4;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            opacity: 1;
            transition: .3s ease;
            &:hover{
                transform: scale(20);
                opacity: .5;
            }
        } 
        .tarjeta-clases__titulo{
            z-index: 99;
            position: absolute;
            bottom: 750px;
            font-size: 50px;
            font-weight: 700;
            color: white;
            pointer-events: none;
            transition: .1s ease;
            text-shadow: 0 0 15px black;
            writing-mode: vertical-lr;
            margin-bottom: 5px;
            }
            &:hover .tarjeta-clases__titulo{
            bottom: 70px;
            right: 50px;
            }
            .tarjeta-clases__descripcion{
            z-index: 99;
            position: absolute;
            bottom: 15px;
            right: auto;
            width: 400px;
            color: black;
            opacity: 0;
            font-size: 16px;
            text-align: center;
            transition: .2s ease;
            padding-bottom: 40px;
            }
            &:hover .tarjeta-clases__descripcion{
            opacity: 1;
            right: auto;
            z-index: 99;
            padding-left: 10px;
            font-weight: 400;
            }
            .tarjeta-clases__imagen{
            z-index: 100;
            width: 400px;
            height: 300px;
            background-size: cover;
            border-radius: 25% 10%;
            filter: grayscale(0);
            transition: .3s ease;
            }
            &:hover .tarjeta-clases__imagen{
            filter: grayscale(100%);
            width: 500px;
            height: 320px;
            }
    }
    .tarjeta-clases-3{
        grid-column: 1;
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        position: relative;
        width: 510px;
        height: 350px;
        padding: 10px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 40px;
        margin-left: 70px;
        border-radius: 25% 10%;
        box-shadow: 0 0 15px black;
        &:hover{
            background-color: rgb(161, 157, 157);
        }
        .boton-3{
            background-color: rgb(244, 244, 92);
            }
        button{
            position: absolute;
            right: 30px;
            bottom: 40px;
            width: 50px;
            height: 50px;
            background-color: #ade8f4;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            opacity: 1;
            transition: .3s ease;
            &:hover{
                transform: scale(20);
                opacity: .5;
            }
        }
        .tarjeta-clases__titulo{
            z-index: 99;
            position: absolute;
            bottom: 750px;
            font-size: 50px;
            font-weight: 700;
            color: white;
            pointer-events: none;
            transition: .1s ease;
            text-shadow: 0 0 15px black;
            writing-mode: vertical-lr;
            margin-bottom: 5px;
            }
            &:hover .tarjeta-clases__titulo{
            bottom: 70px;
            right: 50px;
            }
            .tarjeta-clases__descripcion{
            z-index: 99;
            position: absolute;
            bottom: 15px;
            right: auto;
            width: 400px;
            color: black;
            opacity: 0;
            font-size: 16px;
            text-align: center;
            transition: .2s ease;
            padding-bottom: 40px;
            }
            &:hover .tarjeta-clases__descripcion{
            opacity: 1;
            right: auto;
            z-index: 99;
            padding-left: 10px;
            font-weight: 400;
            }
            .tarjeta-clases__imagen{
            z-index: 100;
            width: 400px;
            height: 300px;
            background-size: cover;
            border-radius: 25% 10%;
            filter: grayscale(0);
            transition: .3s ease;
            }
            &:hover .tarjeta-clases__imagen{
            filter: grayscale(100%);
            width: 500px;
            height: 320px;
            }
    }
    .tarjeta-clases-4{
        grid-column: 2;
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        position: relative;
        width: 510px;
        height: 350px;
        padding: 10px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 10px;
        margin-left: 500px;
        border-radius: 25% 10%;
        box-shadow: 0 0 15px black;
        &:hover{
            background-color: rgb(161, 157, 157);
        }
        .boton-4{
            background-color: lightgrey;
            }   
        button{
            position: absolute;
            right: 30px;
            bottom: 40px;
            width: 50px;
            height: 50px;
            background-color: #ade8f4;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            opacity: 1;
            transition: .3s ease;
            &:hover{
                transform: scale(20);
                opacity: .5;
            }
        }
        .tarjeta-clases__titulo{
            z-index: 99;
            position: absolute;
            bottom: 750px;
            font-size: 50px;
            font-weight: 700;
            color: white;
            pointer-events: none;
            transition: .1s ease;
            text-shadow: 0 0 15px black;
            writing-mode: vertical-lr;
            margin-bottom: 5px;
            }
            &:hover .tarjeta-clases__titulo{
            bottom: 70px;
            right: 50px;
            }
            .tarjeta-clases__descripcion{
            z-index: 99;
            position: absolute;
            bottom: 15px;
            right: auto;
            width: 400px;
            color: black;
            opacity: 0;
            font-size: 16px;
            text-align: center;
            transition: .2s ease;
            padding-bottom: 40px;
            }
            &:hover .tarjeta-clases__descripcion{
            opacity: 1;
            right: auto;
            z-index: 99;
            padding-left: 10px;
            font-weight: 400;
            }
            .tarjeta-clases__imagen{
            z-index: 100;
            width: 400px;
            height: 300px;
            background-size: cover;
            border-radius: 25% 10%;
            filter: grayscale(0);
            transition: .3s ease;
            }
            &:hover .tarjeta-clases__imagen{
            filter: grayscale(100%);
            width: 500px;
            height: 320px;
            }
    }
}
#descripcionDistinta{
    color: white;
    }
#tituloClases{
    padding-top: 50px;
}
