
.titulo-pagina{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-todo{
    width: 240px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    padding-bottom: 250px;
    padding-top: 50px;
    .contenedor-carrousel{
        width: 100%;
        position: absolute;
        animation: rotar 30s infinite;
        transform-style: preserve-3d;
        figure{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: absolute;
            margin-bottom: 250px;
        }
        img{
            width: 100%;
        }
        figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
        figure:nth-child(2){transform: rotateY(45deg) translateZ(300px);}
        figure:nth-child(3){transform: rotateY(90deg) translateZ(300px);}
        figure:nth-child(4){transform: rotateY(135deg) translateZ(300px);}
        figure:nth-child(5){transform: rotateY(180deg) translateZ(300px);}
        figure:nth-child(6){transform: rotateY(225deg) translateZ(300px);}
        figure:nth-child(7){transform: rotateY(270deg) translateZ(300px);}
        figure:nth-child(8){transform: rotateY(315deg) translateZ(300px);}
        figure:nth-child(9){transform: rotateY(360deg) translateZ(300px);}
    }
    @keyframes rotar{
        from{
            transform: rotateY(0deg);
        }to{
            transform: rotateY(360deg);
        }
    }
}

.descripcion{
    padding-bottom: 60px;
}

