
.titulo-pagina{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    display: flex;
    padding: 5px;
    .columnas{
        flex: 33.33%;
        padding: 5px;
    }
    img{
        width: 90%;
        height: 350px;
        margin-top: 5px;
    }
    @media (max-width:576px){
        .columnas{
            flex: 100%;
        }
    }
}

.descripcion{
    padding-bottom: 60px;
}

