
.contenedor-paginas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 1fr);

}

#tarjetaPresentacionProfesoras{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows:50px 550px;
    .titulo-pagina{
        grid-column: span 3;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .tarjetas-profesoras{

        position: sticky;
        width: 300px;
        height: 350px;
        padding-left: 70px;
        padding-bottom: 50px;
        padding-top: 30px;
    }
    .tarjetas-profesoras .lado{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
    }
    .tarjetas-profesoras .frente{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px black;
        
    }
    .tarjetas-profesoras .frente img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .tarjetas-profesoras .frente .texto-frente{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: center;
    }
    .tarjetas-profesoras .atras{
        transform: perspective(600px) rotateY(180deg);
        background-color: rgb(3, 35, 54);
        padding: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow:  0 5px 10px black;
    }
    .tarjetas-profesoras .atras .link{
        border-top: solid 1px white;
        height: 50px;
        line-height: 50px;
    }
    .tarjetas-profesoras .atras .link a{
        color: white;
    }
    .tarjetas-profesoras .atras .texto-atras{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .tarjetas-profesoras .atras p{
        letter-spacing: 1px;
    }
    .tarjetas-profesoras:hover .frente{
        transform: perspective(600px) rotateY(180deg);
    }
    .tarjetas-profesoras:hover .atras{
        transform: perspective(600px) rotateY(360deg);
    }
    @media (max-width:576px){
        #tarjetaPresentacionProfesoras{
            display: grid;
            grid-template-columns:100%;
            grid-column: 1;
            grid-template-rows:25px 25px 25px 25px;
        }
        .tarjetas-profesoras{
            grid-column: 1;
            display: grid;
            width: 200px;
            height: 200px;
            .profe-marilina{
                display: grid;
                grid-column: span 3;
                grid-row: 2;
            }
            .profe-paula{
                display: grid;
                grid-column: 1;
                grid-row: 3;
            }
            .profe-patricia{
                display: grid;
                grid-column: 1;
                grid-row: 4;
            }
        }
    }
}






