
.contenedor-paginas{
    width: 100%;
    display: grid;
    footer{
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

footer{
    position: relative;
    z-index: 100;
    bottom: 0;
    left: 0;
    min-height: 80px;
    width: 100%;
    background-color: $primary-color;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px black;
    .footer-logos{
        height: auto;
        width: 50px;
        padding: 0px 10px;
        }
}

