
.contenedor-paginas{
    width: 100%;
    display: grid;
        header{
            grid-column-start: 1;
            grid-column-end: -1;
        }
}

header{
    min-height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0 1%;
    box-sizing: border-box;
    min-height: 80px;
    transition: 0.5s;
    box-shadow: 0px 0px 8px 0px black;
    h2{
        justify-content: center;
        padding-left: 15px;
    }
    .header__logo{
        height: 60%;
        display: flex;
        align-items: center;
    }
    .header__logo img{
        width: 50px;
        height: 50px;
        border-radius: 1000px;
    }
    .header__menu ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__menu ul li{
        margin: 0 1rem;
        font-weight: 200;
        cursor: pointer;
        transition: 0.5s;
        padding: 0PX 15px;
            &:hover{
        color: black;
        background-color: lightblue;
        border: 1px solid lightblue;
        transition: 0.5s;
        }
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
}

@media (max-width:576px){
    header{
        flex-direction: column;
    }
}

.header-clases{
    position: absolute;
}



/*li{
    font-weight: 50;
    border-right-style: groove;
    &:nth-child(5){
        border-right-style: none;
    }
}*/

